.subtitle{
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

/* CONTENIDO PRINCIPAL */
.main-content {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

/* Proyectos */
.project-list{
    padding: 0;
    list-style: none;
}


/* INFORMACION COMPLEMENTARIA */
aside {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

/* Contactos */
.contact-list{
    padding: 0;
    list-style: none;
}
.contact-item{
    display: flex;
    flex-direction: row;
}

/* Tecnologias */
aside .tech-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
    padding: 0;
    justify-content: center;
}

/* Habilidades */
.skill-list{
    padding: 0;
}

/* Educacion */
.education-list{
    padding: 0;
}